
.formula{
		position:absolute;
		left:80%;
		transform:translateX(-80%);
}

div{
	height:35px;	
}

nav{
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.email{
	width:150px;
}

.senha{
	width:150px;
}


.bt-entrar{
	
}

.bt-cadastro{
	
}